<!DOCTYPE html>
<html>
<head>
 <title>CRUD</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./public/assets/css/bootstrap.min.css">
  <script src="./public/assets/js/jquery.min.jsjquery.min.js"></script>
  <script src="./public/assets/js/jquery.min.jspopper.min.js"></script>
  <script src="./public/assets/js/jquery.min.jsbootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="CRUD_LABEL">PHP CRUD OPERATION</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="HOME_LABEL">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ADD_NEW"><span style="font-size:larger;">Add New</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
 <div class="col-lg-6 m-auto">
 
 <form method="post">
 
 <br><br><div class="card">
 
 <div class="card-header bg-primary">
 <h1 class="text-white text-center">  PROCESS_LABEL </h1>
 </div><br>

  FORM_CONTROL

 <button class="btn btn-success" type="submit" name="submit"> Submit </button><br>
 <a class="btn btn-info" type="submit" name="cancel" href="CANCEL_LABEL"> Cancel </a><br>

 </div>
 </form>
 </div>
</body>
</html>